@{
    ViewData["Title"] = "ShowList";
}

<div style="text-align:right">
    <ul class="nav navbar-nav">
        <li>
            @Html.ActionLink("نمایش کاربران", "GetAllUsers")
        </li>
        <li>
            @Html.ActionLink("نمایش کاربر خاص", "Get")
        </li>
        <li>
            @Html.ActionLink("خروج", "Logout")
        </li>
    </ul>
</div>