
@{
    ViewData["Title"] = "Index";
}

<div style="text-align:center">
    <ul class="nav navbar-nav">
        <h1>صفحه اصلی سایت</h1>
    </ul>
    <ul class="nav navbar-nav">
        <a asp-action="Login" asp-controller="Account" class="navbar-brand">ورود</a>
    </ul>
    <ul class="nav navbar-nav">
        <a asp-action="Register" asp-controller="Account" class="navbar-brand">ثبت نام</a>
    </ul>
</div>

